.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero {
  width: 1200px;
  height: auto;
  margin: 50px 0 50px 0;
}

.hero-text {
  font-size: 20px;
  background-color: #F5F5F5;
  border: solid lightgray;
  margin-bottom: 50px;
  padding: 25px 50px;
}

.travel-card-title {
  color: black;
  font-size: 22px; 
}

.card {
  margin-bottom: 5px;
}

.ud-logo-indesc {
  height: 30px;
}
.custom-search-bar {
  width: 300px;
} 

.web3-container {
  background-color: #F5F5F5;
  border: 2px solid grey;
  padding: 25px;
  margin: 50px 0 50px 0;
}

.domain-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.domain-card-body {
  background-color: rgb(77, 72, 242);
  border-radius: 0;
}

.domain-card-title {
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.domain-tld {
  color: white;
  font-weight: 700;
  border: 2px solid rgba(112, 232, 252);
  border-radius: 25px;
  padding: 5px;
}

.img-wrapper {
  overflow: hidden;
  margin: 0 auto;
}

.img-wrapper img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img-wrapper:hover img {
  transform: scale(1.1);
  filter: brightness(35%);
}

.site-footer {
  background-color: black;
  padding: 50px; 
  margin: 25px 0 0 0;
  color: white;
}

.fa-facebook, .fa-youtube, .fa-instagram, .fa-twitter {
  background: white;
  color: black;
  }